body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app__logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app__header {
  background-color: #222;
  padding: 20px;
  color: white;
  border-bottom: 5px solid #666;
}

.app__credits {
  font-size: 12px;
}

.app__credits a,
.app__credits a:visited {
  color: white;
}

.app__intro {
  padding: 40px 20px;
  display: flex;
  overflow-x: scroll;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.difficulties__wrapper {
  margin: auto;
}

.difficulties {
  display: flex;
  justify-content: center;
}

.difficulty {
  line-height: 24px;
  font-size: 24px;
  padding: 3px;
  margin: 0 6px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #eee;
  box-shadow: 0.5px 1px 0 #ddd;
  background: #fff;
  border-radius: 5px;
}

.game__wrapper {
  margin: auto;
}

.game {
  background: #fff;
  box-shadow: 1px 1px 2px #999;
  border-radius: 2px;
  padding: 1px 0;
}

.game__header {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.game__remaining-mines {
  position: absolute;
  left: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #333;
}

.game__start-button {
  font-size: 24px;
  line-height: 24px;
  padding: 3px;
  height: 30px;
  width: 32px;
  cursor: pointer;
  border: 1px solid #eee;
  box-shadow: 0.5px 1px 0 #ddd;
  background: #fff;
  border-radius: 5px;
}

.game__board {
  background: #f9f9f9;
  box-shadow: inset 1px 1px 2px #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.game__board-row {
  display: flex;
}

.game__board-field {
  width: 24px;
  height: 24px;
  margin: 2px;
}

.game__board-field button {
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  border: 1px solid #eee;
  box-shadow: 0.5px 1px 0 #ddd;
  background: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.game__board-field--revealed button {
  box-shadow: none;
}

.game__board-field--exploded button {
  background-color: #ffeae6;
  box-shadow: 0 0 4px 1px #de421f;
}

.game__board-field--0 button {
  background: transparent;
  color: transparent;
}

.game__board-field--1 button {
  color: blue;
}

.game__board-field--2 button {
  color: red;
}

.game__board-field--3 button {
  color: green;
}

.game__board-field--4 button {
  color: orange;
}

.game__board-field--5 button,
.game__board-field--6 button,
.game__board-field--7 button,
.game__board-field--8 button
{
  color: brown;
}

.instructions {
  color: #666;
  font-size: 10px;
  margin-top: 40px;
  font-weight: lighter;
}
